<app-header></app-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Enter City</ion-label>
    <ion-input [(ngModel)]="city" (ionInput)="onSearchCity()" ></ion-input>
  </ion-item>

  <div *ngIf="weatherData">
    <h2>{{ weatherData.location.name }}, {{ weatherData.location.country }}</h2>
    <p>Temperature: {{ weatherData.current.temp_c }}°C</p>
    <p>Condition: {{ weatherData.current.condition.text }}</p>
    <img [src]="'https:' + weatherData.current.condition.icon" />
    <p>Humidity: {{ weatherData.current.humidity }}%</p>
    <p>Wind: {{ weatherData.current.wind_kph }} kph</p>
  </div>
</ion-content>




<app-footer></app-footer>