<app-header></app-header>

<ion-content class="ion-padding">
  <h1>Page Loaded</h1> 
  <ion-item>
    <ion-label>City:</ion-label>
    <ion-input [(ngModel)]="city" placeholder="Enter city name"></ion-input>
    <ion-button (click)="fetchWeather()">Search</ion-button>
  </ion-item>

  <div *ngIf="weatherData">
    <h2>{{ weatherData.location.name }}, {{ weatherData.location.country }}</h2>
    <p>Temperature: {{ weatherData.current.temp_c }}°C</p>
    <p>Condition: {{ weatherData.current.condition.text }}</p>
    <img [src]="'https:' + weatherData.current.condition.icon" />
    <p>Humidity: {{ weatherData.current.humidity }}%</p>
    <p>Wind: {{ weatherData.current.wind_kph }} kph</p>
  </div>
</ion-content>




<app-footer></app-footer>